$fontPath: '/vendor/Intel/clear_sans';

@font-face {
	font-family: 'Clear Sans';
	src: url('#{$fontPath}/clearsans_regular/ClearSans-Regular-webfont.eot');
	src:
		local('Clear Sans'),
		local('ClearSans-Regular'),
		url('#{$fontPath}/clearsans_regular/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('#{$fontPath}/clearsans_regular/ClearSans-Regular-webfont.woff') format('woff'),
		url('#{$fontPath}/clearsans_regular/ClearSans-Regular-webfont.ttf') format('truetype'),
		url('#{$fontPath}/clearsans_regular/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Clear Sans';
	src: url('#{$fontPath}/clearsans_italic/ClearSans-Italic-webfont.eot');
	src:
		local('Clear Sans'),
		local('ClearSans-Italic'),
		url('#{$fontPath}/clearsans_italic/ClearSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
		url('#{$fontPath}/clearsans_italic/ClearSans-Italic-webfont.woff') format('woff'),
		url('#{$fontPath}/clearsans_italic/ClearSans-Italic-webfont.ttf') format('truetype'),
		url('#{$fontPath}/clearsans_italic/ClearSans-Italic-webfont.svg#clear_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Clear Sans';
	src: url('#{$fontPath}/clearsans_bold/ClearSans-Bold-webfont.eot');
	src:
		local('Clear Sans'),
		local('ClearSans-Bold'),
		url('#{$fontPath}/clearsans_bold/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('#{$fontPath}/clearsans_bold/ClearSans-Bold-webfont.woff') format('woff'),
		url('#{$fontPath}/clearsans_bold/ClearSans-Bold-webfont.ttf') format('truetype'),
		url('#{$fontPath}/clearsans_bold/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Clear Sans';
	src: url('clearsans_bolditalic/ClearSans-BoldItalic-webfont.eot');
	src:
		local('Clear Sans'),
		local('ClearSans-BoldItalic'),
		url('#{$fontPath}/clearsans_bolditalic/ClearSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('#{$fontPath}/clearsans_bolditalic/ClearSans-BoldItalic-webfont.woff') format('woff'),
		url('#{$fontPath}/clearsans_bolditalic/ClearSans-BoldItalic-webfont.ttf') format('truetype'),
		url('#{$fontPath}/clearsans_bolditalic/ClearSans-BoldItalic-webfont.svg#clear_sansbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

