// Breakpoints
@mixin bp($px) {
	@if $px == nr {
		@media (min-width: 450px) { @content; }
	}
	@if $px == sm {
		@media (min-width: 768px) { @content; }
	}
	@else if $px == md {
		@media (min-width: 960px) { @content; }
	}
	@else if $px == lg {
		@media (min-width: 1200px)  { @content; }
	}
}
