#footer-menu ul {
	margin: $content-margin 0 0 0;
	padding-left: 0;
	list-style: none;

	@include bp(sm) {
		display: flex;
		margin: 0;
	}
}

#footer-menu ul li {
	@include bp(sm) {
		margin-right: 25px;
	}
}

#footer-menu ul li:last-of-type {
	@include bp(sm) {
		margin-right: 0;
	}
}

#footer-menu ul li a {
	display: block;
	padding: $content-margin;

	@include bp(sm) {
		display: inline;
		padding: 0;
	}
}
