#menu-toggler {
	position: absolute;
	top: calc(#{$content-margin} - 6px); // Due to the padding of the icon we substract some pixels
	right: $content-margin;

	@include bp(md) {
		display: none;
	}
}

#menu-toggler:hover {
	cursor: pointer;
}

#site-header #site-logo a {
	color: $green;
}

#site-header #site-logo a:hover {
	color: $white;
}

#search {
	position: relative;
	flex-grow: 2;
	margin: 1em 0 0 0;

	@include bp(md) {
		margin: -5px 3em;
	}

	@include bp(lg) {
		margin: -5px 5em;
	}
}

#searchbox {
	display: flex;
	align-items: center;
	border-radius: .1em;
	background-color: $nord9;
	color: $nord1;
}

#searchbox input {
	flex-grow: 2;
	border: 0;
	background: none;
	padding: .3em .5em;
	font-size: 1em;
}

#searchbox .icon {
	top: 0;
	margin-right: .2em;
}

#suggestions {
	position: absolute;
	display: none;
	width: 100%;
	background-color: $nord2;
}

#suggestions .messages {
	margin: .4em;
}

#suggestions ul {
	list-style: none;
	margin: .4em 0;
	padding-left: 0;
}

#suggestions ul li a {
	display: flex;
	padding: 0 .4em;
	text-align: left;
}

#main-menu {
	display: none;
}

#main-menu ul {
	margin: $content-margin 0 0 0;
	padding-left: 0;
	list-style: none;

	@include bp(md) {
		display: flex;
		margin: 0;
	}
}

#main-menu ul li a {
	display: block;
	margin-left: -$content-margin;
	margin-right: -$content-margin;
	padding: $content-margin;

	@include bp(md) {
		display: inline;
		margin: 0;
	}
}

#main-menu ul li:last-of-type a {
	margin-bottom: -$content-margin;

	@include bp(md) {
		margin-bottom: 0;
	}
}

#site-header ul li a:hover, #site-header ul li a.active {
	background-color: $nord3;
}
