* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	background-color: $nord0;
	padding: 0;
}

button, .button {
	border: 0;
	padding: .15em .5em .25em .5em;
	font-size: .9em;
}

button, button.primary, .button.primary {
	background-color: $green;
	color: $nord0;
}

button:hover, button.primary:hover, .button.primary:hover {
	opacity: .9;
	color: $nord0;
}

button.secondary, .button.secondary {
	background-color: $nord1;
	color: $green;
}

button.secondary:hover, .button.secondary:hover {
	opacity: .9;
}

#wrapper {
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

.row {
	width: 100%;
	max-width: 1140px;
	margin: auto;
	padding: $content-margin;

	@include bp(lg) {
		padding: $content-margin 0;
	}
}

.show {
	display: block !important;
}

.empty {
	margin: 0 !important;
	padding: 0 !important;
}

#site-header {
	position: fixed;
	width: 100%;
	background-color: $nord2;
	z-index: 10;
}

#site-header .row {
	position: relative;

	@include bp(md) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

#site-name a {
	color: $white;
}

#site-content {
	flex: 1;
}

#site-footer .row {
	padding-bottom: 0;

	@include bp(sm) {
		padding-bottom: $content-margin;
	}
}

#loader-wrapper {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $nord0;
}

#loader {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	width: 100%;
	height: 100%;
}

#controls {
	position: fixed;
	width: 100%;
	background-color: $nord3;
	font-size: .9em;
	z-index: 5;
}

#controls #sorting {
	padding: .1em 0 .3em 0; // same padding as the toggle filters button
}

#controls #sorting .icon {
	top: 4px;
	margin-right: 0;
}

#controls #toggle-filters {
	padding: .1em .5em .3em .5em;
	font-size: 1em;
	float: right;
}

#controls #toggle-filters:hover {
	cursor: pointer;
}

#controls #toggle-filters .icon {
	top: 4px;
	margin-right: 0;
}

#controls #sorting .active {
	font-weight: bold;
}

#controls #filters {
	display: none;
	margin-top: 1em;
}

#controls #filters #filter-genre ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin-top: 0;
	padding-left: 0;
}

#controls #filters #filter-genre ul li, #controls #filters #filter-short a, #controls #filters #filter-independent a, #controls #filters #filter-status a {
	margin-right: 1em;
}

#controls #filters #filter-genre ul li:last-of-type, #controls #filters #filter-short a:last-of-type, #controls #filters #filter-independent a:last-of-type, #controls #filters #filter-status a:last-of-type {
	margin-right: 0;
}

#controls #filters #filter-genre ul li:hover {
	cursor: pointer;
}

#controls #filters #filter-genre ul li a, #controls #filters #filter-short a, #controls #filters #filter-independent a, #controls #filters #filter-status a {
	color: $white;
}

#controls #filters #filter-genre ul li a:hover, #controls #filters #filter-short a:hover, #controls #filters #filter-independent a:hover, #controls #filters #filter-status a:hover {
	opacity: .9;
}

#controls #filters #filter-short a.active:hover, #controls #filters #filter-independent a.active:hover, #controls #filters #filter-status a.active:hover {
	opacity: 1;
}

#controls #filters #filter-genre ul li .icon {
	top: 3px;
	font-size: 1em;
}

@include bp(nr) {
	#controls #filters #grouped {
		display: flex;
		justify-content: space-between;
	}
}

#controls #filters #grouped > div {
	margin-bottom: 1em;

	@include bp(md) {
		margin-bottom: 0;
	}
}

#controls #filters #grouped > div:last-of-type {
	margin-bottom: 0;
}

#controls #filters #filter-date input {
	border: none;
	border-bottom: solid 1px $white;
	padding-bottom: .2em;
	background-color: transparent;
	color: $white;
}

#controls #filters #filter-date input:first-of-type {
	margin-right: .3em;
}

#controls #filters #filter-date input:last-of-type, #controls #filters #filter-date .button {
	margin-left: .3em;
}

#controls #filters #filter-short {
	@include bp(nr) {
		border-left: solid 1px #3b4252;
		border-right: solid 1px #3b4252;
		padding: 0 1em;
	}
	
	@include bp(sm) {
		border: none;
		padding: none;
	}
}

#controls #filters #filter-short .icon, #controls #filters #filter-independent .icon, #controls #filters #filter-status .icon {
	top: 3px;
	margin-right: 0;
	font-size: 1em;
}

.icon {
	top: 3px;
	margin-right: 3px;
}

#messages {
	display: none;
	padding: $content-margin;
	border: solid 1px $grey;
	border-left-width: 10px;
	color: $grey;
}

#messages .md-error {
	top: 2px;
}

#messages.error {
	border-color: $red;
	color: $red;
}

#messages.success {
	border-color: $green;
	color: $green;
}

#movies, #tv-shows {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 0;
	list-style: none;
}

#movies li, #tv-shows li {
	width: 48%;
	margin-bottom: 2em;

	@include bp(sm) {
		width: 24.5%;
	}

	@include bp(md) {
		width: 16%;
	}

	@include bp(lg) {
		width: 12%;
	}
}

.home #movies li, .home #tv-shows li {
	@include bp(sm) {
			width: 24%;
	}

	@include bp(md) {
		width: 24%;
	}

	@include bp(lg) {
		width: 12%;
	}
}

#movies li.dummy-item, #tv-shows li.dummy-item {
	height: 0;
	margin: 0 !important;
}

#movies li a, #tv-shows li a {
	display: inline-block;
	width: 100%;
	text-align: center;
}

#movies li a:hover, #tv-shows li a:hover {
	opacity: 0.9;
	color: $green;
}

#movies li a .poster, #tv-shows li a .poster {
	width: 100%;
	height: auto;
}

#movies li a .no-poster, #tv-shows li a .no-poster {
	width: 100%;
	height: 220px;
	background-color: $nord1;
}

#movies li a .no-poster i, #tv-shows li a .no-poster i {
	top: 50%;
	margin-top: -24px;
}

#movies li a .meta, #tv-shows li a .meta {
	margin-top: -6px;
	background-color: $nord1;
	padding: 2px 5px;
}

#pagination {
	font-size: 0.9em;
}

#pagination ul {
	display: flex;
	justify-content: space-between;
	margin-top: 0;
	padding-left: 0;
	list-style: none;
}

#pagination ul li:only-child {
	width: 100%;
}

#pagination ul #previous {
	text-align: left;
}

#pagination ul #next {
	text-align: right;
}

#pagination a {
	margin: 0 .25em;
	cursor: pointer;
}

#pagination a:first-of-type {
	margin-left: 0;
}

#pagination a:last-of-type {
	margin-right: 0;
}

.home #pagination {
	display: none;
}

.movies h1, .tv-shows h1, #movie h1, #tv-show h1 {
	margin-bottom: $content-margin;
	text-align: center;

	@include bp(sm) {
	margin-bottom: 0;
		text-align: left;
	}
}

#movie #poster, #tv-show #poster {
	text-align: center;

	@include bp(sm) {
		float: right;
		margin: 0 0 1em 1em;
	}
}

#movie #poster img, #tv-show #poster img {
	width: 200px;
}

#movie #meta, #tv-show #meta {
	margin: 1em 0;

	@include bp(sm) {
		display: flex;
		justify-content: flex-start;
		margin: 0 0 1em 0;
	}
}

#movie #meta > div, #tv-show #meta > div {
	margin-right: 1em;
}

#movie #meta .md-av_timer, #tv-show #meta .md-av_timer {
	margin-right: 2px;
}

#tv-show #meta .md-cast {
	margin-right: 4px;
}

#movie #website, #tv-show #website, #general, #technical {
	margin-bottom: 1em;
}

#genre, #country, #language, #distributor, #network, #production-company, #aspect-ratio, #audio-format, #colour, #film-stock {
	display: flex;
}

#links {
	display: flex;
}

#genre ul, #country ul, #language ul, #distributor ul, #network ul, #production-company ul, #aspect-ratio ul, #audio-format ul, #colour ul, #links ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

#genre ul li, #country ul li, #language ul li, #distributor ul li, #network ul li, #production-company ul li, #aspect-ratio ul li, #audio-format ul li, #colour ul li, #links ul li {
	flex-shrink: 0;
	max-width: 100%;
}

#genre ul li::after, #country ul li::after, #language ul li::after, #distributor ul li::after, #network ul li::after, #production-company ul li::after, #aspect-ratio ul li::after, #audio-format ul li::after, #colour ul li::after, #links ul li::after {
	content: '\00B7';
	margin: 0 3px;
}

#genre ul li:last-of-type::after, #country ul li:last-of-type::after, #language ul li:last-of-type::after, #distributor ul li:last-of-type::after, #network ul li:last-of-type::after, #production-company ul li:last-of-type::after, #aspect-ratio ul li:last-of-type::after, #audio-format ul li:last-of-type::after, #colour ul li:last-of-type::after, #links ul li:last-of-type::after {
	display: none;
}

#episodes button {
	float: right;
}

#episodes button:hover {
	cursor: pointer;
}

#episodes button .md-visibility {
	top: 4px;
}

#episodes table {
	width: 100%;
	border-spacing: 0;
	padding: 0;
}

#episodes table thead tr {
	position: sticky;
	background-color: $nord0;
}

#episodes table th {
	border-bottom: solid 1px $nord2;
	padding: 1em .5em;
	vertical-align: top;
	font-weight: bold;
	text-align: left;
}

#episodes table tbody td {
	border-bottom: solid 1px $nord2;
	padding: 1em .5em;
	vertical-align: top;
}

#episodes table tr th:first-of-type, #episodes table tr td:first-of-type {
	padding-left: 0;
}

#episodes table tr th:last-of-type, #episodes table tr td:last-of-type {
	padding-right: 0;
}

#episodes table tbody tr:last-of-type td {
	border-bottom: none;
}

#episodes table tbody .title {
	font-weight: bold;
}

@media  only screen and (max-width: 960px)  {
	// Thanks to https://css-tricks.com/responsive-data-tables/
	#episodes table, #episodes thead, #episodes tbody, #episodes th, #episodes td, #episodes tr { 
		display: block; 
	}

	#episodes table thead tr { 
		position: absolute;
		top: -9999px !important;
		left: -9999px;
	}

	#episodes table tr {
		border-bottom: solid 1px $nord2;
	}

	#episodes table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: none !important;
		position: relative;
		padding: 0 !important;
	}

	#episodes table td:first-of-type {
		margin-top: 1em;
	}

	#episodes table td:last-of-type { 
		padding-bottom: 1em;
		margin-bottom: 1em;
	}
}

.javascript-licenses #wrapper {
	text-align: center;
}

.javascript-licenses #wrapper table {
	margin: 1em auto 2em auto;
	text-align: left;
}

.javascript-licenses #wrapper table td {
	padding: .1em .5em;
}

.javascript-licenses #wrapper .icon {
	top: 6px;
}
