@import 'fonts/clear_sans.scss';

html, body {
	font-family: 'Clear Sans', sans-serif;
	font-size: 17px;
	font-weight: normal;
	color: $white;
}

h1 {
	margin: 0;
	font-size: 3em;
}

a {
	color: $green;
	text-decoration: none;
}

a:hover {
	color: $nord15;
}

p {
	margin: 0 0 1em 0;
	line-height: 1.5em;
}

input, button, .button {
	font-family: 'Clear Sans', sans-serif;
}

#site-header a {
	color: $white;
	text-align: center;
}

#site-header a:hover, #site-header a.active {
	color: $nord4;
}

#site-footer a {
	text-align: center;
}
